* {
    margin: 0%;
    font-family:sans-serif;
}

h1 {
 font-family:sans-serif;
 font-size: 50px;

}

header {
    color:white;
    height: 150px;
    background: repeating-linear-gradient(
  45deg,
  #3f3f44,
  #3f3f44 10px,
  #e68139 10px,
  #e68139 20px
);
}

.header-top{
    display:flex;
    background-color:#3f3f44;
    height: 50%;

}

h1 {
    background-color: rgb(234, 163, 33);
    display: inline;
    justify-content: center;
    
}

ul {
    text-decoration: none;
    display:inline;
    float:right;
    align-content: space-between;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
    
}

li {
    display: inline;
       
}

main {
    background-color:rgb(53, 49, 49);
    color:white;
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    align-content: space-between;
}

h2 {
    margin-left: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.card {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    margin-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border: 4px solid;
    border-color:rgb(234, 163, 33);
        
}

.vertical-line {
    display: inline-block;
    border-left: 1px solid white;
    margin: 0 10px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 100px;

}



.work-links{
    display:flex;
    flex-direction: row;
     flex-wrap:wrap;
     min-height: 100%;
     position:relative;
     
     margin-bottom: 1000px;
     
 }


 #linked-image {
    background-image: url(https://media.istockphoto.com/photos/white-rgb-battle-station-rendering-gaming-pc-led-case-and-mechanical-picture-id1166235766?k=20&m=1166235766&s=612x612&w=0&h=juYzCJpve88KwYEVSSmkbWrrG9c08mSFgtFNThgXZ0g=);
    display: block;
    margin: 0;
    width: 650px;
    height: 350px;
    text-indent:-9999px;
    border: 4px solid;
    border-color:rgb(234, 163, 33);
  }

  #linked-image2 {
    background-image: url(https://www.homebargains.co.uk/Handlers/ImageHandler.ashx?id=72811&targetSize=1000);
    display: block;
    margin: 0;
    margin-top:420px;
    position:absolute;
    width: 270px;
    height: 120px;
    text-indent:-9999px;
    border: 4px solid;
    border-color:rgb(234, 163, 33);
  }

  #linked-image3 {
    background-image: url(https://economictimes.indiatimes.com/thumb/msid-83926597,width-1200,height-900,resizemode-4,imgsize-88027/trade-setup-nifty50-likely-to-inch-higher-but-remain-stock-specific.jpg?from=mdr);
    display: block;
    margin: 0;
    position:absolute;
    margin-top:420px;
    margin-left:380px;
    width: 270px;
    height: 120px;
    text-indent:-9999px;
    border: 4px solid;
    border-color:rgb(234, 163, 33);
  }

  #caption-image {
      position:absolute;
      background-color:rgb(234, 163, 33);
      margin-top: 250px;
      font-style:bold;
      font-size:20px;
      width:80px;
      height:40px;
      border: solid 20px;
      border-right: solid 40px;
      border-color:rgb(234, 163, 33);
    }

    #caption-image2 {
        position:absolute;
        background-color:rgb(234, 163, 33);
        margin-top: 450px;
        font-style:bold;
        font-size:15px;
        width:60px;
        height:20px;
        border: solid 20px;
        border-right: solid 40px;
        border-bottom: solid 30px;
        border-color:rgb(234, 163, 33);
        
      }

      #caption-image3 {
        position:absolute;
        background-color:rgb(234, 163, 33);
        margin-top: 450px;
        margin-left: 380px;
        font-style:bold;
        font-size:15px;
        width:60px;
        height:20px;
        border: solid 20px;
        border-right: solid 40px;
        border-bottom: solid 30px;
        border-color:rgb(234, 163, 33);
        
      }
  
